
    <article>
      <div class="m-2">
         <h2 style="font-family:sant-serif">Estudios</h2>
      </div>
      <div class="card mb-1" style="">
         <div class="row g-0">
           <div class="col-2 col-lg-1">
             <img src="assets/escuela2.png" class="img-fluid rounded-start" alt="...">
           </div>
           <div class="col-10 col-lg-11 ">
             <div class="card-body">
               <h5 class="card-title" style="font-family: garamond">E.E.M.Nº5 (Ex Nacional)</h5>
               <h5 style="font-family: garamond">Titulo: bachiller en ciencias naturales y exactas</h5>
             </div>
           </div>
         </div>
       </div>
   

      <div  class="card mb-1" style="">
         <div class="row g-0">
           <div class="col-2 col-lg-1">
             <img src="assets/logo-iaraa-header.png" class="img-fluid rounded-start" alt="...">
           </div>
           <div class="col-10 col-lg-11">
             <div class="card-body">
               <h5 class="card-title" style="font-family: garamond">Instituto IAARA</h5>
               <h5 style="font-family: garamond">Titulo: tecnico reparador e instalador aire acondicionado</h5>
             </div>
           </div>
         </div>
       </div>
      

      <div class="card mb-1" style="">
         <div class="row g-0">
           <div class="col-2 col-lg-1">
             <img src="assets/centro de formacion profecional.png" class="img-fluid rounded-start" alt="...">
           </div>
           <div class="col-10 col-lg-11">
             <div class="card-body">
               <h5 class="card-title" style="font-family: garamond">Centro de Formación Profecional</h5>
               <h5 style="font-family: garamond">Título: Electricista intalador/Montador</h5>
             </div>
           </div>
         </div>
       </div>
         
         <div class="sin-borde card mb-1 " style="">
            <div class="row g-0">
              <div class="col-2 col-lg-1">
                <img src="assets/argentina programa1.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-10 col-lg-11">
                <div class="card-body">
                  <h5 class="card-title" style="font-family: garamond">Argentina Programa</h5>
                  <h5 style="font-family: garamond">Titulo: Full Stack Developer</h5>
                </div>
              </div>
            </div>
          </div>
    </article>
 
    
