<div class="col-6">
    <footer>
      <h6>Redes Sociales</h6>
      <a href="https://www.facebook.com/jonatan.delcastillo.7"
      target="_blank"><i class="fa-brands fa-facebook"> </i></a>
      <a href="https://www.instagram.com/jonyary10/"
      target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="https://github.com/jonatandc"
      target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/jonatan-del-castillo-a9802a239/"
      target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </footer>
  </div>