<article>
    <div class="container laboral">
         <div class="row">
           <div class="">
             <h2 style="font-family: sant-serif">Experiencia laboral</h2>
           </div>
         </div>

        <div class="row border">
           <div class="">
             <h5 style="font-family: serif">Ampacet South America</h5>
             <h6 style="font-family: garamond">Año: 2005 hasta la actualidad</h6>
           </div>
        </div>

        <div class="row border">
           <div class="col-lg-6">
            <h5 style="font-family: serif">Electricista Domiciliario</h5>
           <h6 style="font-family: garamond">Trabajos en forma particular</h6>
           </div>
        </div>

        <div class="row border">
           <div class="col-xl-10">
            <h5 style="font-family: serif">Instalador de aire acondicionado</h5>
           <h6 style="font-family: garamond">Trabajos en forma particular</h6>
           </div>
        </div>

    </div>

  </article>